@model IEnumerable<MiFutLiga.Models.Categorias>
@using MiFutLiga.Models
@using MiFutLiga.Code

@*@{
    ViewData["Title"] = "Index";
}*@

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Categorias</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditCustomerModal" data-toggle="modal" asp-action="Create" data-target="#modal-action-customer" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Agregar Categoria
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCategoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Abierta)
                        </td>
                        <td>
                            <a id="editCustomerModal" data-toggle="modal" asp-action="Edit" asp-route-id="@item.idCategoria" data-target="#modal-action-customer"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            @*<a id="deleteCustomerModal" data-toggle="modal" asp-action="Details" asp-route-id="@item.idCategoria" data-target="#modal-action-customer" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Details
                            </a>*@
                            <a id="deleteCustomerModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.idCategoria" data-target="#modal-action-customer" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-customer", AreaLabeledId = "modal-action-customer-label", Size = General.ModalSize.Medium })
@section scripts
{
    <script src="~/js/customer-index.js" asp-append-version="true"></script>
}