@model MiFutLiga.Models.Equipos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delegado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delegado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirTecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorCamiseta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorCamiseta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auxiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auxiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ruta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apoyos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apoyos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fotoequipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fotoequipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCategoriaNavigation.idCategoria)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDivisionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDivisionNavigation.idDivision)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idEquipo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
